Package: com.pixeljellyfish.c0mebackf0lders
Name: c0mebackf0lders
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 7.0)
Version: 2.0
Architecture: iphoneos-arm
Description: Prevents Folders from being removed from the HomeScreen.
Maintainer: pixeljellyfish <pixeljellyfish12@gmail.com>, c0dine
Author: pixeljellyfish <pixeljellyfish12@gmail.com>
Section: Tweaks
Depiction: https://repo.pixeljellyfish.codes/assets/depictions/cbf/
SileoDepiction: https://repo.pixeljellyfish.codes/assets/depictions/cbf/cbf.json
Icon: https://repo.pixeljellyfish.codes/assets/depictions/cbf/assets/icon.png
