Package: com.pixeljellyfish.c0mebackf0lders
Name: c0mebackf0lders
Depends: mobilesubstrate, ws.hbang.common
Version: 1.0
Architecture: iphoneos-arm
Description: folders never be removed
Maintainer: pixeljellyfish
Author: pixeljellyfish
Section: Tweaks
