Package: com.pixeljellyfish.c0mebackf0lders
Name: c0mebackf0lders
Depends: mobilesubstrate, preferenceloader, ws.hbang.common, firmware (>= 7.0)
Architecture: iphoneos-arm
Description: Prevents Folders from being removed from the HomeScreen.
Maintainer: pixeljellyfish <pixel.jellyfish12@gmail.com>, c0dine
Author: pixeljellyfish <pixel.jellyfish12@gmail.com>
dev: pixeljellyfish
Section: Tweaks
Depiction: https://repo.pixeljellyfish.codes/assets/depictions/cbf/
SileoDepiction: https://repo.pixeljellyfish.codes/assets/depictions/cbf/cbf.json
Icon: https://repo.pixeljellyfish.codes/assets/depictions/cbf/assets/icon.png
Tag: role::user, purpose::system
Changelog: https://pixeljellyfish.github.io/repo/assets/depictions/cbf/cbfChangelog
Version: 3.0
Installed-Size: 1008
